footer.footer-bg
    div
        .row
            .col-xs-6.col-sm-6.col-md-6.mt-2.mt-sm-5
                ul.list-unstyled.list-inline.social.text-center
                    li.list-inline-item
                        a.icn-square(href='https://www.fiverr.com/share/qb8D02')
                            i.fa.fa-facebook
                    li.list-inline-item
                        a.icn-rounded(href='https://www.fiverr.com/share/qb8D02')
                            i.fa.fa-twitter.icon-t
                    li.list-inline-item
                        a.icn-rounded(href='https://www.fiverr.com/share/qb8D02')
                            i.fa.fa-instagram.icon-i
                    li.list-inline-item
                        a.icn-rounded(href='https://www.fiverr.com/share/qb8D02')
                            i.fa.fa-youtube-play
                    li.list-inline-item
                        a.icn-rounded(href='https://www.fiverr.com/share/qb8D02' target='_blank')
                            i.fa.fa-whatsapp
                    li.list-inline-item
                        a.icn-square(href='https://www.fiverr.com/share/qb8D02' target='_blank')
                            i.fa.fa-linkedin
            hr
    .row
        .col-sm-9
            .d-flex
                .col-sm-3
                    ul
                        li
                            h6 Explore
                        li
                            | home
                        li
                            | About
                        li
                            | Learn Hoe to
                        li
                            | Doctors View
                        liv
                            | Shop
                        li
                            | Who to use
                .col-sm-3
                    ul
                        li
                            h6 Explore
                        li
                            | home
                        li
                            | About
                        li
                            | Learn Hoe to
                        li
                            | Doctors View
                        liv
                            | Shop
                        li
                            | Who to use
                .col-sm-3
                    ul
                        li
                            h6 Explore
                        li
                            | home
                        li
                            | About
                        li
                            | Learn Hoe to
                        li
                            | Doctors View
                        liv
                            | Shop
                        li
                            | Who to use
        .col-sm-3
            img.img-fluid.statue(src='/images/art-1301872.png')
