doctype html
head
  title
    | ComfySquat
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' type='text/css' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  link(rel='stylesheet' type='text/css' href='/stylesheets/style.css')
  script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
  link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
section
  include header
  .bg-blue.fs
    .row.swap
      .col-sm-6.d-flex.flex-column.justify-content-center.no-pad-mob
        div
          h4.sit-natural Stay Natural, Sit Original!
        div.text-left.pl-29
          div
            h6.experience
              | We are designed to skdjdjfjjjk
          .shop-div.pad-top-20
            a.shop-now.border.border-0 Shop Now
      .col-sm-6
        .overflow-hidden
          .position-absolute
            img.img-fluid.mt--5.w-80.float-right(src='/images/Group 2.png')
          .position-relative.z-index-1
            img.img-fluid.mt--5.w-80.float-right.mb-25(src='/images/2-layers.png')
  .position-absolute.wd-28
    img.img-fluid.w-80(src='/images/Group 2.png')
  // /////new section/////
  .bg-orange.fs
    .row.swap
      .col-sm-5
        .overflow-hidden.no-float
          img.img-fluid.mt--5.wd-60.float-right.mb-25.no-float(src='/images/3-layers.png')
      .col-sm-7.d-flex.flex-column.justify-content-center
        .mt-12
          h4.meet.color-white Meet Comfy Squat
          div
            h6.meet-desc.color-white.text-center
              | A toilet stool specially designed to correct
              | the sitting
              | posture while pooping on a western commode. The original stool &apos;Comfy squat is suitable
              | for all age groups and fit for all types of toilets recommended by doctors
          .shop-div.mt-20.text-center
            a.shop-now.border.border-0 Know More
  // ////////////////////section-3////////////////////////
  .bg-blue.fs
    .color-blue
      .text-center.pdt-33.pdb-20
        .text-sec3
          h4 The Science behind squatting stool
        .lower-text-sec3
          p It helps to eliminate the stress from you all
    .row
      .col-sm-4.m-auto
        .d-flex.justify-content-center.mt-10.pd-8
          img.img-fluid.wd-48(src='/images/Group 117.png')
        div
          .sitting-text
            p Some DUmmy meta data text here with some dummy loreum ipsum mosumndj
          .sitting-lower-text
            p.color-white
              span
                | Hello everu one with some dummy data we have added it here for you
      .col-sm-4.m-auto
        .d-flex.justify-content-center
          img.img-fluid.wd-45.mr-30(src='/images/Group 21.png')
        div
          .sitting-text
            p Some DUmmy meta data text here with some dummy loreum ipsum mosumndj
          .sitting-lower-text
            p.color-white
              span
                | Hello everu one with some dummy data we have added it here for you
      .col-sm-4.m-auto
        .d-flex.justify-content-center
          img.img-fluid.wd-50.mr-22.last-pic(src='/images/Group 118.png')
        div
          .sitting-text
            p Some DUmmy meta data text here with some dummy loreum ipsum mosumndj
          .sitting-lower-text
            p.color-white
              span
                | Hello everu one with some dummy data we have added it here for you
    .shop-div.pdb-40.text-center
      //a.shop-now.border.border-0.d-inline-block Know More
  // ////////////////////sec-4/////////////////////////
  div
    .row
      .col-sm-3
        div
          img.img-fluid(src='/images/stool measurements.png')
      .col-sm-6.m-auto.d-flex.pad-top-bot
        .text-center
          div
            img.img-fluid.wd-26(src='/images/skin.png')
          div
            p.knee-text.m-b-2 Anti Skiid
            span.knee-l-text.kneedesc
              | Some dummy text will be shown here loreum ipsum man come to
              | dymmy
        .text-center.m-pr
          div
            img.img-fluid.wd-25(src='/images/kneelogo.png')
          div
            p.knee-text.mb-1 Anti Skiid
            span.knee-l-text
              | Some dummy text will be shown here loreum ipsum man come to
              | dymmy
      .col-sm-3.m-auto
        .text-center
          img.img-fluid.knee-last(src='/images/puzzle (1).png')
          div
            p.knee-text Anti Skiid
            span.knee-l-text.knee-last-text
              | Some dummy text will be shown here loreum ipsum man come to
              | dymmy
  // ///////////////sec-5//////////////////////////
  .bg-blue.fs
    .color-blue
      .text-center.pad-top.pad-bt-33
        .text-sec3
          h4 The Science behind squatting stool
        .lower-text-sec3
          p It helps to eliminate the stress from you all
    .row.col-sm-12.pad-175.pdb-60
      .col-sm-4
        .d-flex.justify-content-center
          div
            .card(style='width: 16rem;')
              img.card-img-top.wd-87.mr-16(src='/images/product.png' alt='Card image cap')
              .card-body
                h5.card-title Offer two stool
                p.card-text Rs 59999
                p.card-desc We do really sell it well
                .shop-div.text-center.mb-10
                  a.mt-10.shop-now.border.border-0.d-inline-block.f-9 Buy Now
      .col-sm-4
        .d-flex.justify-content-center
          .card(style='width: 16rem;')
            img.card-img-top.img-bg.card-img-center.wd-87.mt-14(src='/images/product-info.png' alt='Card image cap')
            .card-body
              h5.card-title Offer two stool
              p.card-text Rs 59999
              p.card-desc We do really sell it well
              .shop-div.text-center.mb-10
                a.mt-10.shop-now.border.border-0.d-inline-block.f-9 Buy Now
      .col-sm-4
        .d-flex.justify-content-center
          div
            .card(style='width: 16rem;')
              img.card-img-top.img-bg.wd-87.mr-16(src='/images/product-info1.png' alt='Card image cap')
              .card-body
                h5.card-title Offer two stool
                p.card-text Rs 59999
                p.card-desc We do really sell it well
                .shop-div.text-center.mb-10
                  a.mt-10.shop-now.border.border-0.d-inline-block.f-9 Buy Now
  // ////////////////////////////section-6///////////////////////////
  .bg-green
    div.text-sec3.pad-50.pad-r-l
      h3.text-center Hello well come to our you tube
        span.color-black channel lal bajar
        | how are you guys bye
    .row
      .col-sm-6
        .d-flex.justify-space
          div
            .percent.percent-bg
              h5.percent-100.m-auto 100%
            span.percent-text doctores
          div
            .percent
              h5.percent-100.m-auto 100%
            span.percent-text doctores
          div
            .percent
              h5.percent-100.m-auto 100%
            span.percent-text doctores
        .d-flex.pic-4-mb
          div
            img.wd-125(src='/images/Group 40.png')
          div
            img.wd-125(src='/images/Group 41.png')
          div
            img.wd-125(src='/images/Group 42.png')
          div
            img.wd-125(src='/images/Group 43.png')
      .col-sm-6.text-center.doctor
        img.img-fluid.wd-52(src='/images/doctor.png')
  // /////////////////////////////////section7////////////////////
  div
    .row
      .col-sm-4.pad-0
        div
          img.img-fluid(src='/images/6th page image-01.png')
      .col-sm-8
        // <div class="row">
        .co-3
          .d-flex.justify-space.font-blue
            .float-left.text-center
              img.round-wd-30(src='/images/pregnant_woman_pooping.png')
              h5 jsfnks jnfk djsfns
              span lajs dn asldjnwal ;nmp;O LID NWO DUBW NA EKA
            .float-right.text-center
              img.round-wd-30(src='/images/knee-pain.png')
              h5 jsfnks jnfk djsfns
              span lajs dn asldjnwal ;nmp;O LID NWO DUBW NA EKA
        //
          <div class="c text-center font-blue">
          <div>
          <img class="" src="/images/old_people.png">
          <h5>jsfnks jnfk djsfns</h5>
          <span>lajs dn asldjnwal ;nmp;O LID NWO DUBW NA EKA</span>
          </div>
          </div>
        //
          <div class="-2">
          <div>
          <img  class="" src="/images/old_people.png">
          </div>
          </div>
        .c-3
          .d-flex.justify-space.font-blue
            .text-center
              img.round-wd-30(src='/images/kid_pooping.png')
              h5 jsfnks jnfk djsfns
              span lajs dn asldjnwal ;nmp;O LID NWO DUBW NA EKA
            .text-center
              img.round-wd-30(src='/images/squat.png')
              div
                h5 jsfnks jnfk djsfns
                span lajs dn asldjnwal ;nmp;O LID NWO DUBW NA EKA
        // </div>
  // /////////////////////////////////section8////////////////////
  //
    <div class="">
    <div class="bg-img">
    <img class="img-fluid" src="/images/edited 7th page.png" />
    <div class="top-middle">
    <div class="color-white">
    <p>We are helping you poor better</p>
    <span>Helo welcome bro</span>
    </div>
    <div class="">
    <div class="">
    <input class="search-box" type="text" placeholder="Query">
    <button class="shop-now">Send</button>
    </div>
    </div>
    <button class="shop-now">Send</button>
    </div>
    </div>
    <!-- /////new////
  //
    <div class="head_img">
    <div>
    <img class="img-fluid" src="/images/edited 7th page.png" />
    </div>
    <p>display this text over the image
    <br>and at the bottom part of the image</br>
    </p>
  //
    <div class="head">
    <div class="color-white">
    <h4>We are helping you poor better</h4>
    </div>
    <div>
    <div class="">
    <input class="search-box" type="text" placeholder="Query"><button class="search-btn">Send</button>
    </div>
    </div>
    </div>
  // </div>
  // </div>
  include footer
